@import url('https://api.fontshare.com/v2/css?f[]=karma@400&f[]=alpino@500&display=swap');

.masthead {
	text-align: center;
	border-bottom: 1px solid hsl(0, 0%, 90%);
	h2 {
		font-style: italic;
	}
	h1,h2 {
		font-family: 'Alpino', sans-serif;
	}
}

.card img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.cards {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Karma';
	a {
		display: block;
		margin-bottom: 1em;
		text-decoration: none;
	}
}


.caption {
	padding: 1em;
	background: hsla(246, 85%, 31%, 0.6);
	color: white;
	/* font-size: 1.2em; */
	transition: all 0.4s;
}

a:focus .caption, a:hover .caption {
	background: hsla(246, 40%, 30%, 1);
}

.caption-title {
	margin: 0;
	font-size: 1.4em;
	line-height: 1.1em;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@media screen and (min-width: 30em) {
	.cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1em;
		a {
			margin-bottom: 0;
		}
	}


	.card {
		display: grid;
	}

	.card img, .caption {
		grid-column: 1;
		grid-row: 1;
	}

	.caption {
		display: flex;
		flex-direction: column;
		opacity: 0;

		h3 {
			text-align: center;
		}
	}

	a:focus .caption, a:hover .caption {
		background: hsla(246, 40%, 30%, 0.6);
		opacity: 1;
	}
}

@media screen and (min-width: 60em) {
	.cards {
		grid-template-columns: repeat(4, 1fr);
	}
}

.voting-info {
	list-style: none;
	padding-left: 0;
	padding-top:1em;
}

footer {
	text-align: center;
	padding: 1em;
}