---

const { title } = Astro.props;
---

<header class="masthead">
    <h1 class="site-title">{title}</h1>
    <h2 class="site-subtitle">Hover for more info, click to go to state voting site</h2>
</header>